.static-pages
  .container
    .row
      .col-md-4.leftbar
        |  <%= render 'leftbar' %> 
      .col-md-8
        .panel.panel-default
          .panel-body
            h1.page-title
              | Contact
            hr
            .content
              form
                .form-group
                  label.form-label
                    | Title
                  input.form-control[type="text"]
                .form-group
                  label.form-label
                    | Email
                  input.form-control[type="text"]
                .form-group
                  label.form-label
                    | Phone
                  input.form-control[type="text"]
                .form-group
                  label.form-label
                    | Content
                  textarea.form-control[rows="15"]
                .form-group
                  button.btn.btn-primary
                    |  Send
                  button.btn.btn-default[type="reset"]
                    |  Cancel