<div class="static-pages">
  <div class="container">
    <div class="row">
      <div class="col-md-4 leftbar">
        <%= render 'leftbar' %>
      </div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-body">
            <h1 class="page-title">Trợ Giúp</h1>
            <hr>
            <div class="content-static">
              <h4> </h4>
              <p> Nếu bạn có câu hỏi gì thì hãy gửi email cho chúng tôi thông qua phần liên hệ nhé</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
