<div class="static-pages">
  <div class="container">
    <div class="row">
      <div class="col-md-4 leftbar">
        <%= render 'leftbar' %>
      </div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-body">
            <h1 class="page-title">Điều Khoản Sử Dụng</h1>
            <hr>
            <div class="content">
              <h3>1. Thành Viên</h3>
              <h4> Có 2 loại thành viên: Chủ Nhà và Chuyên Gia </h4>
              <br>
              <p>NGƯỜI DÙNG THÔNG THƯỜNG <br> Nếu bạn là chủ nhà người đang tìm kiếm kiến trúc sư, người thiết kế nội thất,... hoặc đơn giản là bạn là một người dùng thông thường muốn tham khảo hình ảnh để hỗ trợ cho dự án của mình thì hãy đăng ký dưới dạng người dùng thông thường (chủ nhà).</p>
              <br>
              <p>CHUYÊN GIA <br> Còn nếu mà bạn là người có chuyên môn trong các ngành được liệt kê bạn có thể chọn một hoặc từ hai trở lên tuỳ vào khả năng của mình vì khách hàng có thể tiếp cận đến bạn nhiều hơn thông qua nhiều kênh chuyên môn. Nhưng hãy chắc rằng bạn có chuyên môn đó.</p>
              <br>
              <h3>2.Nội Dung.</h3>
              <br>
              <p>a. Quy định <br>
              Thành Viên yêu cầu phải trên 13 tuổi.<br>
              Điền đầy đủ thông tin khi bạn có chuyên môn vì khách hàng sẽ có niềm tin vào bạn hơn.
               Không dùng ngôn từ khiếm nhã, xúc phạm đến các thành viên hay những vấn đề liên quan đến chính trị tôn giáo. </p>
              <br>
               <p> b. Hình Ảnh <br>
              Sử Dụng Hình ảnh của bạn nếu bạn là người có chuyên môn vì khách hàng sẽ tìm đến bạn thông qua các dự án của bạn. 
              Dự án của bạn càng chi tiết thì khách hàng làng tìm đến bạn dễ hơn. </p>
              <br>
              <p>
               c. Vi Phạm. <br>
              Mọi hành động vi phạm bản quyền hình ảnh sẽ bị nhắc nhở. Nếu hành vi lặp lại nhiều lần sẽ bị cấm khỏi trang. 
              </p>
              <br>
              <h3>3.Chức Năng</h3>
              <br>
              <p>a. Chủ nhà <br> Những người dùng thông thường ( chủ nhà ) sẽ không có trong bảng thống kê " TÌM CHUYÊN GIA " chỉ người dùng chuyên môn mới có và việc xếp hạng cho người dùng thông thường sẽ không được đề cập. Tuy nhiên bạn có thể thay đổi từ người dùng thông thường sang người dùng chuyên gia trong trường hợp bạn có chuyên môn.  <br>
               
              </p>
              <br>
              <p>b. Chuyên Gia <br> 
              Khi người dùng ấn tìm chuyên giá, tên bạn sẽ nằm trong danh sách thống kê. Người dùng có thể tìm theo vị trí, cá nhân hay doanh nghiệp, chuyên môn để lọc ra danh sách tuỳ vào thông tin mà bạn cung cấp. </p>
              <br>
              <h3>4. Xếp Hạng</h3>
              <br>
              <p>
                a. Xếp Hạng của cộng đồng <br>
                Hình ảnh của người dùng post lên sẽ được nhận bình luận like share... . Arcpub sẽ không chịu trách nhiệm khi bạn có vấn đề gì khi cộng tác với những người chuyên môn dựa trên tiêu chí này. </p>
                .<br>
                <p>b. Đánh giá(review) <br>
                Nhưng đánh giá này dựa trên những khách hàng thực từ project mà chuyên gia đã làm </p>

                <p> Qui định sẽ được cập nhập thêm sau ngày 4/11/2016 </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>