= link_to(cl_image_tag(recipe.background_name,
                      :height=>50, :width=>50,
                      :crop=>"fill",
                      style:'width: 100%; height: auto'),
          recipe_path(recipe))