.small-video-container.hidden-md-down[style="width: 360px; position: fixed; z-index: 999; top: 20px; left: 20px; display: none"]
  = cl_video_tag(recipe.video_id, controls: true, width: '100%', id: 'small-video')