<br>
<br>
<br>
<br>
<div class="container">
  <%= form_tag(recipes_path, method: 'post', id: 'video-upload') do %>
    <%= cl_upload_tag(:video_id, public_id: @public_id, chunk_size: 6_000_000) %>
    <%= submit_tag "upload video" %>
  <% end %>

  <div class="preview">
  </div>
</div>

<progress class="progress" value="0" max="100"></progress>
