<style media="screen">
  @media only screen and (min-width: 700px){
    .first_page {
      background-image: url(http://res.cloudinary.com/dgwgbnszx/image/upload/c_fill,g_custom,h_800,w_2093/v1480928242/landingpage/box_with_ingredients_and_recipe_cards.jpg);
      height: 800px;
    }
    .second_page {
      padding-top: 70px;
      .container-box{
        position: absolute;
      }
    }
  }
  @media only screen and (max-width: 700px){
    .first_page { 
      background-image: url(http://res.cloudinary.com/dgwgbnszx/image/upload/c_fill,g_custom,h_400,w_700/v1480928242/landingpage/box_with_ingredients_and_recipe_cards.jpg);
      height: 400px;
    }
    .second_page{
      padding-top: 20px;
    }

  }
</style>
<div class="first_page">
  <h1>WE S</h1>
</div>
<div class="second_page">
        <div style="margin: 12px auto; width: 40%">
              <div class='row'>
                  <div class='col-sm-6'>
                      <p>
                        
                      </p>
                  </div>
                  <div class='col-sm-6'>
                      <h5>
                         Qualified Ingredients
                      </h5>
                      <p>
                       Our ingredients come from trusted suppliers who follow strict food regulations comparable to the standards of developed countries
                      </p>
              </div>
              <div class='row'>
                  <div class='col-sm-6'>
                      <h5>
                        Tailor menu to your taste 
                      </h5>
                      <p>
                       Explore through a large range of gourmet dishes at the comfort of your home
                      </p>
                  </div>
                  <div class='col-sm-6'>
                      <p>
                      </p>
                  </div>
              </div>
              <div class='row'>
                  <div class='col-sm-6'>
                  <p>
                     
                  </p>
                  </div>
                  <div class='col-sm-6'>
                  
                  <h5>
                     Reduce time and stress. 
                  </h5>
                  <p>
                  Say goodbye to meal planning and grocery shopping! Spend more time on the things that you love to do!
                  </p>
                  </div>
                  
              </div>
              <div class='row'>
                  
                  <div class='col-sm-6'>
                  <h5>
                     Cook gourmet meals at home
                  </h5>
                  <p>We want to make incredible home cooking accessible to everyone
                  </p>
                  </div>

                  <div class='col-sm-6'>
                  <p>
                     
                  </p>
                  </div>

              </div>
               <div class='row'>
                 
                  <div class='col-sm-6'>
                  <p>
                   
                  </p>
                  </div>
                   <div class='col-sm-6'>
                  <h5>
                     Socialize with your loved ones. 
                  </h5>
                  <p>
                  We believe that cooking and eating together builds stronger family bonds, is beneficial to society, and promotes a healthier diet
                  </p>
                  </div>
                  
              </div>
          </div>
</div>


