<style media="screen">
  @media only screen and (min-width: 700px){
    .first_page {
      background-image: url(http://res.cloudinary.com/dgwgbnszx/image/upload/c_fill,g_custom,h_800,w_2093/v1480928242/landingpage/box_with_ingredients_and_recipe_cards.jpg);
      height: 800px;
    }
  }
  @media only screen and (max-width: 700px){
    .first_page { 
      background-image: url(http://res.cloudinary.com/dgwgbnszx/image/upload/c_fill,g_custom,h_400,w_700/v1480928242/landingpage/box_with_ingredients_and_recipe_cards.jpg);
      height: 400px;
    }
  }
</style>
<div class="first_page">
  <h1>WE S</h1>
</div>

