
// Custom bootstrap variables must be set or imported before bootstrap itself.
@import "fonts";
@import "bootstrap";
@import "social-share-button";
@import "owl.carousel";
@import "owl.theme";
@import "font-awesome";
@import "static_pages";
@import "recipes";
@import "cook_books";
@import "footer";
@import 'nprogress';
@import 'nprogress-bootstrap';
@import 'users/profiles';

p, h1, h2, h3 {
  font-family: "Signika-Regular", sans-serif;
}

body {
  background-color: rgb(249,249,251);
}

ul.ingredient-list {
  background-color: rgba(255,255,255,0.8);
  list-style-type: none;
}
.navbar-default{
  background-color:white;
  height:40px;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;

}
.nav-item-right {
  float: right;
}
.navbar-left {
  float: left;
}

#owl-demo .item img{
    width:100%;
    height:auto;
    position:relative;
}

.content {
  background: #ffffff ; 
  margin:20px auto;
  padding:30px;
  box-sizing: border-radius;
  width: 425px;
  position: relative;
  border: 1px solid #313567;
}
.content .header {
  font-size: 35px;
  margin-bottom: 5px;
  font-weight: 400;
  color: #313567;
  font-family: "Signika-Bold";
  text-align: center;
}

.content .list {
  i.pricing-text{
    padding: 10px 0;
    font-family: "Signika-Regular";
    text-align: left;
    position: relative;    
  }

}

.fa-check-square-o:hover{ 

 color:blue;
}

.content .price-part {
  text-align: left;
  font-family: "Signika-Regular";
  font-size: 16px;
  padding-left: 10 px;
}

.content .price-header {
  padding-bottom: 10px;
  font-family: "Signika-Regular";
  font-size: 16px;
}

.content .price-detail{
  font-size: 25px;
  display: inline-block;
  font-family: "Signika-Regular";
  
}
#home-page{
  .btn.btn-success{
    padding-top: 10px;
    position: relative;
    text-align: center;
    margin-left: 100px;
    text-color: white;
    margin-top:40px;
  }  
}


.title  {
  font-size: 30px;
  text-align: center;
  margin-bottom: 5px;
  font-weight: 400;
}

footer{
  ul {
    list-style: none;

  }

  li {
    display: inline-block;
    padding: 10px;
  }
}

.nav-container{
  ul {
    list-style: none;

  }

  li {
    display: inline-block;
    padding: 10px;
  }
}

/*footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: white;
  width: 100%;
}*/

/*trang show*/

div.img {
    border: 1px solid #ccc;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    padding-top: 10px;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


.menu-plan-nav {
  position: relative;
  margin: 100px auto;
  font-size:20px;
  width:300px;
}

.txt-center {
  text-align: center;
}

.navbar-default.navbar-fixed-top .nav-container{
  width:100%;
}


.white-text {
  color: white;
}

.cart-holder {
  margin: 0 10px 0 10px;
  padding-left: 10px;
  i {
    margin-right: 5px !important;
  }
}

.card-action {
  padding: 10px !important;
}

.material-icons {
 font-family: 'Material Icons';
 font-weight: normal;
 font-style: normal;
 font-size: 24px;
 line-height: 1;
 letter-spacing: normal;
 text-transform: none;
 display: inline-block;
 word-wrap: normal;
 -webkit-font-feature-settings: 'liga';
 -webkit-font-smoothing: antialiased;
}

.no-right-margin {
  margin-right: 0 !important;
}

.container {
    width: 1152px;
    padding-bottom: 30px;
    margin: auto;
    font-size: 14px;
    background: #fff;
    background: #fff;
    border-radius: 3px;
    -moz-box-shadow: #ced7dc 0 4px, #eee 0 0px 5px;
    -webkit-box-shadow: #ced7dc 0 4px, #eee 0 0px 5px;
    box-shadow: #ced7dc 0 4px, #eee 0 0px 5px;
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
}

.col-4 {
    width: 354px;
    float: left;
    padding: 15px;
}

.mt-20 {
    margin-top: 20px;
    display: block;
}
