
// Custom bootstrap variables must be set or imported before bootstrap itself.
@import "fonts";
@import "bootstrap";
@import "social-share-button";
@import "owl.carousel";
@import "owl.theme";
@import "font-awesome";
@import "static_pages";
@import "recipes";
@import "cook_books";
@import "footer";
@import 'nprogress';
@import 'tcarts';
@import 'nprogress-bootstrap';
@import 'users/profiles';

p, h1, h2, h3 {
  font-family: "Signika-Regular", sans-serif;
}

body {
  background-color: rgb(249,249,251);
}


ul.ingredient-list {
  background-color: rgba(255,255,255,0.8);
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  ul.nav.navbar-nav li.text-link {
    margin: 40px 20px;
  }
  ul.nav.navbar-nav li.brand-link {
    margin: 18px 20px 18px 0;
  }
}
nav button {
  margin-top: 10px;
}

#owl-demo .item img{
    width:100%;
    height:auto;
    position:relative;
}

.content {
  background: #ffffff ; 
  margin:20px auto;
  padding:30px;
  box-sizing: border-radius;
  max-width: 425px;
  position: relative;
  border: 1px solid #313567;
}
.content .header {
  font-size: 35px;
  margin-bottom: 5px;
  font-weight: 400;
  color: #313567;
  font-family: "Signika-Bold";
  text-align: center;
}

.content .list {
  i.pricing-text{
    padding: 10px 0;
    font-family: "Signika-Regular";
    text-align: left;
    position: relative;    
  }

}

.fa-check-square-o:hover{ 

 color:blue;
}

.content .price-part {
  text-align: left;
  font-family: "Signika-Regular";
  font-size: 16px;
  padding-left: 10 px;
}

.content .price-header {
  padding-bottom: 10px;
  font-family: "Signika-Regular";
  font-size: 16px;
}

.content .price-detail{
  font-size: 25px;
  display: inline-block;
  font-family: "Signika-Regular";
  
}
#home-page{
  .btn.btn-success{
    padding-top: 10px;
    position: relative;
    text-align: center;
    margin-left: 100px;
    text-color: white;
    margin-top:40px;
  }  
}


.title  {
  font-size: 30px;
  text-align: center;
  margin-bottom: 5px;
  font-weight: 400;
}

footer{
  ul {
    list-style: none;

  }

  li {
    display: inline-block;
    padding: 10px;
  }
}


/*trang show*/

div.img {
    border: 1px solid #ccc;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    padding-top: 10px;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


.menu-plan-nav {
  position: relative;
  margin: 100px auto;
  font-size:20px;
  width:300px;
}

.txt-center {
  text-align: center;
}




.white-text {
  color: white;
}



.red-color {
  color: red;
}


.sign-up {
  color: white;
}

.btn-tags {
  /*border: solid 1px #e0e0e0;*/
  margin: 0 6px 8px 0;
  border-radius: 16px;
  color: white;
  background-color: #16B0FE;
}

ul.float-lg-right {

}

header {
  background-color: #f5f5f8;
}

.user-image-url img {
  border-radius: 50%;
  margin: 60px auto;
}
