
// Custom bootstrap variables must be set or imported before bootstrap itself.
@import "bootstrap";
@import "social-share-button";
@import "owl.carousel";
@import "owl.theme";
@import "font-awesome";

ul.ingredient-list {
  background-color: rgba(255,255,255,0.8);
  list-style-type: none;
}
.navbar-default{
  background-color:white;
  height:40px;
  -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;

}
.navbar-right {
  float: right;
}
.navbar-left {
  float: left;
}

#owl-demo .item img{
    width:100%;
    height:auto;
    position:relative;
}

.content {
  background: #ffffff ; 
  margin:20px auto;
  padding:30px;
  box-sizing: border-radius;
  width: 425px;
  position: relative;
  border: 1px solid #313567;
}
.content .header {
  font-size: 25px;
  margin-bottom: 5px;
  font-weight: 400;
  color: #313567;
  font-family: "Signika";
  text-alight: center;
}

.content .list {
  padding: 10px 0;
  text-alight: left;
  position: relative; 
}

.fa-check-square-o:hover{ 

 color:blue;
}

.content .price-part {
  text-aligh: left;
  font-family: "Archer", serif;
  font-size: 16px;
  padding-left: 10 px;
}

.content .price-part .price-header {
  padding-bottom: 10px;
  font-family: "Archer", serif;
  font-size: 16px;
}

.content .price-part .price-detail{
  font-size: 30px;
  display: inline-block;
  font-family: "Archer", serif;
  
}
.content .btn.btn-success{
  padding-top: 10px;
  position: relative;
  text-align: center;
  margin-left: 100px;
  text-color: white;
  margin-top:40px;
}

.title  {
  font-size: 30px;
  text-align: center;
  margin-bottom: 5px;
  font-weight: 400;
}


ul {
  list-style: none;

}

li {
  display: inline-block;
  padding: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: white;
  width: 100%;
}

/*trang show*/

div.img {
    border: 1px solid #ccc;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    padding-top: 10px;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


.menu-plan-nav {
  position: relative;
  margin: 100px auto;
  font-size:20px;
  width:300px;
}

.txt-center {
  text-align: center;
}

.navbar-default.navbar-fixed-top .nav-container{
  width:95%;
}

/* Recipe page style */
#recipe-page {
  .item-box { margin-bottom: 100px; }
}
