// Place all the styles related to the cook_books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#cookbook-page{
  .pick-ingredient,
  .pick-season,
  .pick-cuisine {
    background-color: red;
    color: white;
    padding-left: 10px;
    width: 100px;
  }
  ul {
    padding-left: 0;
<<<<<<< HEAD
=======
    list-style: none;
>>>>>>> 8a085f8eb018791981eabf77bf854d8370b4c7fb
  }
  li {
    padding: 5px 0;
  }
<<<<<<< HEAD
=======
  ul.sort-items i {
    float: right;
  }
>>>>>>> 8a085f8eb018791981eabf77bf854d8370b4c7fb
}

