// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul.ingredient-list > li {
  list-style: none;
  padding: 9px;
}

/* Recipe page style */
#recipe-page {
  .item-box {
    @media only screen and (min-width: 700px) {
      margin-bottom: 40px;
      min-height: 650px;
    }
    border: solid 1px #E0E0E0;
    background-color: white;
    h2.single-line { padding: 28px 20px }
  }
  .content-static {
    padding: 30px;
    position: relative;
  }

  .item-box-video {
    @extend .item-box;
    video { background-color: white; }
  }

  .item-box-short {
    @extend .item-box;
    min-height: 100px;
  }
  .comment-item {
    padding: 20px;
  }

  h2 {
    margin-bottom: 0px;
  }

  .item-box img {
    width: 100%;
  }

  .card-instruction {
    @media only screen and (min-width: 700px){
      height: 600px;
    }
  }
}

.instruction-num {
  background-color: #313567;
  color: #fff;
  font-family: "Signika-Regular", sans-serif;
  font-weight: 600;
  font-size: 17px;
  font-weight: 600;
  line-height: 13px;
  padding: 7px 9px;
  /*width: 18px;*/
  margin-right: 10px;
  float: left;
  border-radius: 30px;
}

.instruction-title {
  font-size: 19px;
  font-weight: 400;
  color: #333;
  float: left;
}

.instruction-block {
  margin-top: 25px;
  overflow: hidden;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e6e6e6;
  min-height: 26px;
  line-height: 26px;
}

.instructions-box {
  border: dashed 6px #e0e0e0;
  padding: 20px;
  margin: 20px 0;
}

.form-inline .form-group {
  label {
    margin-right: 10px;
  }
  margin-right: 30px;
}

i.red-color {
  color: red;
}

i.red-color {
  margin-left: 20px;
}

.recipe-card-block {
  min-height: 380px;
  p.short-description {
    margin-top: 20px;
  }
}

#new-ins-list {
  overflow: scroll;
}

.liked_row {
  margin-top: 4px;
}

.recipe-show-cart .input-group {
  width: 250px;
}