// Place all the styles related to the tcarts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-checkout{

  width: 1152px;
  padding-bottom: 30px;
  font-size: 14px;
  text-align: center;
  margin: auto;
  background: #fff;
  border-radius: 3px;
 -moz-box-shadow: #ced7dc 0 4px, #eee 0 0px 5px;
  -webkit-box-shadow: #ced7dc 0 4px, #eee 0 0px 5px;
  box-shadow: #ced7dc 0 4px, #eee 0 0px 5px;
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
}
